h3 {
    padding-top: 5rem;
    text-align: center;
}

.blog-hero {
    padding: 8rem 0;
}

#post {
    text-align: start;
}

#post p {
    margin-bottom: 1rem;
    margin: 0 auto 26px;
    color: var(--muted-2);
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.03em;
}

#post p.caption {
    font-size: 0.95em;
    font-style: italic;
}

#post ul>li>a.tags:before {
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 4px;
    border-radius: 999px;
    background: var(--accent);
    box-shadow: 0 0 18px rgba(239, 19, 56, 0.9);
}

#post li a {
    font-size: 1.2em;
}

#post li p {
    font-size: 0.9em;
}


#post h1 {
    color: #fff;
}

#post time {
    color: #888;
    font-size: 0.9rem;
}

#post main {
    margin-top: 2rem;
}

.media-card {
    margin-bottom: 1rem;
}

.media-card img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 0.5rem;
}